@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");

html {
  font-family: "Nunito", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main-page {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 0.5fr 4fr 1fr;
  background: url(/images/1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

#brand-logo {
  width: 120px;
  height: 50px;
  margin-left: 60px;
}

#sm-logo {
  width: 20px;
  height: 20px;
  background-color: rgb(238, 238, 238);
  border-radius: 50%;
  padding: 10px;
  margin-right: 60px;
}

#main-header {
  grid-row: 1/2;
  grid-column: 1/4;
  max-height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-weight: bold;
  position: sticky;
  top: 0;
}
#main-content {
  color: white;
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.nav-menu {
  margin: 20px;
  padding: 10px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 10px;
}
.nav-link:hover {
  background-color: rgb(255, 38, 0);
  padding: 10px;
  border-radius: 20px;
  color: white;
}

#hamburger {
  display: none;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style: none;
  margin: 10px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: red;
}

.center-text {
  font-size: xxx-large;
}
.main-content-margins-child {
  margin-top: 5px;
  margin-bottom: 5px;
}
#contact-button {
  background-color: rgb(255, 38, 0);
  padding: 12px;
  color: white;
  border-radius: 50px;
  margin: 20px;
  border: 2px solid rgb(255, 38, 0);
  font-weight: 600;
  box-shadow: 0px 1px 5px black;
}
button:hover {
  font-weight: bold;
}

@media (max-width: 1100px) {
  .nav-menu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
@media (max-width: 815px) {
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 100px;
    flex-direction: column;
    background-color: #fff;
    width: -webkit-fill-available;
    border-radius: 30px;
    margin-top: 0%;
    text-align: center;
    transition-duration: 0.5s;
  }

  .nav-menu.active {
    right: 0;
  }
  #brand-logo {
    width: 100px;
    height: 40px;
    margin-left: 5px;
  }
  #sm-logo {
    padding: 10px;
    margin: 0px;
  }
  #hamburger {
    display: block;
    cursor: pointer;
    margin-right: 10px;
  }
#hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

#hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
}
