@import url('https://fonts.googleapis.com/css2?family=Qahiri&family=Roboto:wght@100;400&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}
#main-content{
    color: white;
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

#main-page{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 0.5fr 4fr 1fr;
  background: url(/images/1280.jpg);
background-repeat:no-repeat;
background-size: cover;
min-height: 100vh;

}
#brand-logo{
    width:120px;
    height: 50px;
    /* margin: 20px 200px 20px 50px; */
}
#sm-logo{
    width: 20px;
    height: 20px;
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
    /* margin: 20px 50px 20px 200px; */
    padding: 10px;

}
#main-header{
    
    grid-row: 1/2;
    grid-column: 1/4 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
#main-header > h4:hover{
    background-color: rgb(255, 38, 0);
    padding: 7px;
    border-radius: 50px;
    color: white;
}
#hamburger {
    display: none;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li {
    list-style: none;
    
    margin: 1rem;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: red;
}

.center-text{
    font-size: xxx-large;
}
.main-content-margins-child{
    margin-top: 5px;
    margin-bottom: 5px;

}
button{
    background-color: rgb(255, 38, 0);
    padding: 12px;
    color: white;
    border-radius: 50px;
    margin: 20px;
    border:2px solid rgb(255, 38, 0)
    }
    button:hover{
        font-weight: bold;
    }


@media  (max-width: 768px) {
    .nav-menu{
        position: fixed;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-menu.active{
        left: 0;
    }
    #hamburger {
        display: block;
        cursor: pointer;
    }
      
    }